.signupForm{
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 300px;

  form{
    display: flex;
    flex-direction: column;

    input{
      margin-bottom: 10px;
    }
  }
}