.navbar{
  display: flex;
  align-items:center;
  justify-content: space-between;
  background-color: #262626;
  height: 50px;
  width: 100%;
  margin-top: 5px;


  &:before{
    content: '';
    background: linear-gradient(to right, #B4D4F2, #F2B4D4, #D4F2B4);
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 5px;
  }
  
  .navbar__LeftSide{
    margin-left: 15px;
    a{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
    }

    .navbar__BrandName{
      font-family: monospace;
      font-weight: 600;
      color: #F2B4D4;
    }
  }

  .navbar__RightSide{
    display: flex;
    justify-content: end;
    margin-right: 15px;
    button {
      margin: 0px 10px;
    }
  }
} 